<div style="width:fit-content">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu_1">
        <nav class="flex-column">
            <details>
                <summary><span class="oi oi-map"></span>GeoObject</summary>
                <div class="nav-item px-3">
                    <NavLink style="color:white;" class="nav-link" href="GeoObjectGetAll">
                        <span class="oi oi-elevator" aria-hidden="true"></span> All
                    </NavLink>
                    <NavLink style="color:white;" class="nav-link" href="GeoObjectPost">
                        <span class="oi oi-brush" aria-hidden="true"></span> Create
                    </NavLink>
                    <NavLink style="color:white;" class="nav-link" href="GeoObjectGetByCode">
                        <span class="oi oi-code" aria-hidden="true"></span> By Code
                    </NavLink>
                    <NavLink style="color:white;" class="nav-link" href="GeoObjectUpdate">
                        <span class="oi oi-cloud-upload" aria-hidden="true"></span> Update
                    </NavLink>
                    <NavLink style="color:white;" class="nav-link" href="GeoObjectDelete">
                        <span class="oi oi-ban" aria-hidden="true"></span> Delete
                    </NavLink>
                    <NavLink style="color:white;" class="nav-link" href="GeoObjectBySectionCode">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> By Sect Code
                    </NavLink>
                </div>
            </details>

            <details>
                <summary><span class="oi oi-box" ></span>TypeSection</summary>
                <div class="nav-item px-3">
                    <NavLink style="color:white;" class="nav-link" href="TSDelete">
                        <span class="oi oi-ban" aria-hidden="true"></span>Delete
                    </NavLink>
                    <NavLink style="color:white;" class="nav-link" href="TSGet">
                        <span class="oi oi-plus" aria-hidden="true"></span>Get
                    </NavLink>
                    <NavLink style="color:white;" class="nav-link" href="TSGetByCode">
                        <span class="oi oi-code" aria-hidden="true"></span>Get by Code
                    </NavLink>
                    <NavLink style="color:white;" class="nav-link" href="TSPost">
                        <span class="oi oi-signpost" aria-hidden="true"></span>Post
                    </NavLink>
                    <NavLink style="color:white;" class="nav-link" href="TSUpdate">
                        <span class="oi oi-cloud-upload" aria-hidden="true"></span>Update
                    </NavLink>
                </div>
            </details>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool collapseNavMenu_1 = true;

    private string? NavMenuCssClass_1 => collapseNavMenu_1 ? "collapse" : null;

    private void ToggleNavMenu_1()
    {
        collapseNavMenu_1 = !collapseNavMenu_1;
    }
}
