@page "/GeoObjectPost"

@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks

<h1>Создание</h1>
<form asp-page-handler="OnPost">
    <label>Код объекта</label><br>
    <input type="text" name="code" @bind="_code"><br>

    <label>Eng name</label><br>
    <input type="text" name="nameEng" @bind = "_nameEng"><br>

    <label>Имя объекта</label><br>
    <input type="text" name="nameRus" @bind = "_nameRus"><br>

    <label>Descript in eng</label><br>
    <input type="text" name="discriptionEng" @bind = "_discriptionEng"><br>

    <label>Описание объекта</label><br>
    <input type="text" name="discriptionRus" @bind = "_discriptionRus"><br>

    <label>Код раздела</label><br>
    <input type="text" name="typeSectionCode" @bind = "_typeSectionCode"><br>
    <br>
    <button class="btn" type="submit" onclick="@OnPost">Создать</button>
</form>


@code 
{
    string _code = "";
    string _nameEng = "";
    string _nameRus = "";
    string _discriptionEng = "";
    string _discriptionRus = "";
    string _typeSectionCode = "";
    HttpClient client = new();
    public async Task OnPost()
    {

        GeoObjectType geoObject = new GeoObjectType()
        {
            Id = Guid.NewGuid().ToString(),
            Code = _code,
            NameInEnglish = _nameEng,
            NameInRussian = _nameRus,
            DescriptionInEnglish = _discriptionEng,
            DescriptionInRussian = _discriptionRus,
            TypeSectionCode = _typeSectionCode
        };
        client.PostAsJsonAsync<GeoObjectType>("https://localhost:8001/api/GeoObjectType", geoObject);
    }
}
