@page "/TSDelete"

<h3>DeleteTypeSection</h3>
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks

<form asp-page-handler="OnDelete">
    <label >Code</label><br>
    <input type="text" name="code" @bind="_code"><br>
    <br>
    <button class="btn" type="submit" onclick="@OnDelete">Submit</button>
</form>
@code
{
    string _code = "code";

    HttpClient client = new();

    public async Task OnDelete()
    {
        using var response = await client.DeleteAsync($"https://localhost:8001/api/TypeSection/{_code}");
    }


}
