@page "/TSPost"

<h3>Создание</h3>

<form asp-page-handler="OnPost">
    <label>Код</label><br>
    <input type="text" name="code" @bind="_code"><br>

    <label>Name</label><br>
    <input type="text" name="nameEng" @bind="_nameEng"><br>

    <label>Название</label><br>
    <input type="text" name="nameRus" @bind="_nameRus"><br>

    <button class="btn" type="submit" @onclick="@onPost">Ok</button>
</form>
@code {
    string _code = "";
    string _nameEng = "";
    string _nameRus = "";

    HttpClient client = new();

    public async Task onPost()
    {
        TypeSection ts = new()
        {
            Code = _code,
            NameInEnglish = _nameEng,
            NameInRussian = _nameRus
        };

        client.PostAsJsonAsync<TypeSection>("https://localhost:8001/api/TypeSection", ts);
    }
}
