/* _content/BlazorApp1/Shared/MainLayout.razor.rz.scp.css */
.page[b-45rkf8v3vv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-45rkf8v3vv] {
    flex: 1;
}

.sidebar[b-45rkf8v3vv] {
    background-color: darkblue;
}

.top-row[b-45rkf8v3vv] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-45rkf8v3vv]  a, .top-row .btn-link[b-45rkf8v3vv] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-45rkf8v3vv] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-45rkf8v3vv] {
        display: none;
    }

    .top-row.auth[b-45rkf8v3vv] {
        justify-content: space-between;
    }

    .top-row a[b-45rkf8v3vv], .top-row .btn-link[b-45rkf8v3vv] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-45rkf8v3vv] {
        flex-direction: row;
    }

    .sidebar[b-45rkf8v3vv] {
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-45rkf8v3vv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-45rkf8v3vv], article[b-45rkf8v3vv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorApp1/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-b5wscdn8ts] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-b5wscdn8ts] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-b5wscdn8ts] {
    font-size: 1.1rem;
}

.oi[b-b5wscdn8ts] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
    color: white;
}

/*.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}*/

/*@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {*/
        /* Never collapse the sidebar for wide screens */
        /*display: block;
    }
    
    .nav-scrollable {*/
        /* Allow sidebar to scroll for tall menus */
        /*height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}*/

.ps-3[b-b5wscdn8ts] {
    padding-left: inherit;
}

summary[b-b5wscdn8ts]::-webkit-details-marker {
    display: none;
}

summary[b-b5wscdn8ts]::-moz-list-bullet {
    list-style-type: none;
}

summary[b-b5wscdn8ts]::marker {
    display: none;
}

summary[b-b5wscdn8ts] {
    display: inline-block;
    padding: .3em .5em .3em .4em;
    font-size: 1.4em;
    cursor: pointer;
    color: aliceblue;
}

    summary[b-b5wscdn8ts]:before {
        margin-right: .3em;
    }

details[open] > summary[b-b5wscdn8ts]:before {
}

summary ~ *[b-b5wscdn8ts] {
    padding: 0 1em 0 1em;
}

summary:focus[b-b5wscdn8ts] {
    outline: 0;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}

details[b-b5wscdn8ts] {
    display: block;
    margin-bottom: .5rem;
}

p[b-b5wscdn8ts] {
    color: aliceblue;
}


.container[b-b5wscdn8ts], .container-fluid[b-b5wscdn8ts], .container-lg[b-b5wscdn8ts], .container-md[b-b5wscdn8ts], .container-sm[b-b5wscdn8ts], .container-xl[b-b5wscdn8ts], .container-xxl[b-b5wscdn8ts] {
    width: -webkit-fill-available;
    padding-right: var(--bs-gutter-x,7px);
    padding-left: var(--bs-gutter-x, 7px);
    margin-right: auto;
    margin-left: auto;
}

.nav[b-b5wscdn8ts] {
    /*  ����� ������������, �� ����������� ������������������ */
    width: 80px;
    min-width: 80px;
    /* ��������� � ���������� ������ ������ �� �������� */
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    /* �������� (������) ������ ������������ ������ ���� �������� */
    left: -320px;
    /* ���������� ������� */
    padding: 15px 20px;
    /* ������� ������� �������� ������ */
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    /* ������ ������ ��������� */
    z-index: 2000;
}

/**
 * ������ ������������ ������
 * ��� <label>
 */

.nav-toggle[b-b5wscdn8ts] {
    /* ��������� ������������� */
    position: absolute;
    /* ������������ ������ ���� ������ */
    left: 320px;
    /* ������ �� �������� ���� ������ */
    top: 1em;
    /* ���������� ������� */
    padding: 0.5em;
    /* ���������� ���� ���� �������������
     * ���� ����� � ������������ � ������ ���� ������
    */
    background: inherit;
    /* ���� ������ */
    color: #dadada;
    /* ��� ������� */
    cursor: pointer;
    /* ������ ������ */
    font-size: 1.2em;
    line-height: 1;
    /* ������ ������ ������ ��������� �������� */
    z-index: 2001;
    /* ��������� ���� ������ ��� ��������� */
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

    /* ���������� ����� ������ 
 * ������ Unicode (TRIGRAM FOR HEAVEN)
*/

    .nav-toggle[b-b5wscdn8ts]:after {
        content: '\2630';
        text-decoration: none;
    }

    /* ���� ������ ��� ��������� */

    .nav-toggle:hover[b-b5wscdn8ts] {
        color: white;
    }

/**
 * ������� ������� (������)
 * ������� � ���������� :)
 * ��� ��������� ������� ������
 */

[id='nav-toggle'][b-b5wscdn8ts] {
    position: absolute;
    display: none;
}

    /**
 * ��������� ��������� ������������� 
 * ��� ��������� �� ��������� �����������
 * ����� ��������� ��������, ����������� ������ ������
*/

    [id='nav-toggle']:checked ~ .nav > .nav-toggle[b-b5wscdn8ts] {
        left: auto;
        right: 2px;
        top: 1em;
    }

    /**
 * ����� ������ ����������, ����������� ������
 * ���������� �����������:checked
 */

    [id='nav-toggle']:checked ~ .nav[b-b5wscdn8ts] {
        left: 0;
        box-shadow: 4px 0px 20px 0px rgba(0,0,0, 0.5);
        -moz-box-shadow: 4px 0px 20px 0px rgba(0,0,0, 0.5);
        -webkit-box-shadow: 4px 0px 20px 0px rgba(0,0,0, 0.5);
        overflow-y: auto;
    }

    /* 
 * �������� �������� ��������
 * �� ������ ������ ������,
 * ����� ��������������, �� ��������
*/

    [id='nav-toggle']:checked ~ main > article[b-b5wscdn8ts] {
        -webkit-transform: translateX(320px);
        -moz-transform: translateX(320px);
        transform: translateX(320px);
    }

    /*
 * ��������� ������� �������������,
 * ��������� ������� (MULTIPLICATION X), 
 * �� ������ ����������� ����� ������ ������
*/

    [id='nav-toggle']:checked ~ .nav > .nav-toggle[b-b5wscdn8ts]:after {
        content: '\2715';
    }

/**
 * ��������� ��� � Android <= 4.1.2
 * ��: http://timpietrusky.com/advanced-checkbox-hack
 */

body[b-b5wscdn8ts] {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    to {
        padding: 0;
    }
}

/**
 * ������������� � ������� � ��������� �������
 * ��������� ���������
 */

@media screen and (min-width: 320px) {
    html[b-b5wscdn8ts],
    body[b-b5wscdn8ts] {
        margin: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 320px) {
    html[b-b5wscdn8ts],
    body[b-b5wscdn8ts] {
        margin: 0;
        overflow-x: hidden;
    }

    .sidebar[b-b5wscdn8ts] {
        width: fit-content;
        height: 100%;
    }

    .nav[b-b5wscdn8ts] {
        width: fit-content;
    }
}

/**
 * ��������� ����� ��������� (�������) ������ 
*/

.nav h2[b-b5wscdn8ts] {
    width: 90%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}

    .nav h2 a[b-b5wscdn8ts] {
        color: #dadada;
        text-decoration: none;
        text-transform: uppercase;
    }


/*������� ��������� ��������� (��������) ��� ��������� ������ */

[id='nav-toggle']:checked ~ .nav h2[b-b5wscdn8ts] {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

/**
 * ��������� ��������������� ���� ����
 * ���������� ��������������� ������ ��� ������� ����
 * ��������� ������������ � ������� ��������
 */

.nav > ul[b-b5wscdn8ts] {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .nav > ul > li[b-b5wscdn8ts] {
        line-height: 2.5;
        opacity: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
        -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
        -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
        transition: opacity .5s .1s, transform .5s .1s;
    }

[id='nav-toggle']:checked ~ .nav > ul > li[b-b5wscdn8ts] {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/* ���������� ��������� ��������� ������� ���� */

.nav > ul > li:nth-child(2)[b-b5wscdn8ts] {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}

.nav > ul > li:nth-child(3)[b-b5wscdn8ts] {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}

.nav > ul > li:nth-child(4)[b-b5wscdn8ts] {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}

.nav > ul > li:nth-child(5)[b-b5wscdn8ts] {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}

.nav > ul > li:nth-child(6)[b-b5wscdn8ts] {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}

.nav > ul > li:nth-child(7)[b-b5wscdn8ts] {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}


/**
 * ���������� ������ ������� ����
 */

.nav > ul > li > a[b-b5wscdn8ts] {
    color: white;
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    width: 100%;
    text-decoration: none;
    /* ������� ������� */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}

    /**
 * ��������� ������ ���� ��� ���������
 */

    .nav > ul > li > a:hover[b-b5wscdn8ts],
    .nav > ul > li > a:focus[b-b5wscdn8ts] {
        color: white;
        padding-left: 15px;
    }

    /**
 * ����� ������������� ������ ����
 */

    .nav > ul > li > a[b-b5wscdn8ts]:before {
        color: white;
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        -webkit-transition: width 0s ease;
        transition: width 0s ease;
    }

    .nav > ul > li > a[b-b5wscdn8ts]:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        -webkit-transition: width .5s ease;
        transition: width .5s ease;
    }

    /**
 * ��������� ����� ������������� 
 * ������ ��� ���������
 */

    .nav > ul > li > a:hover[b-b5wscdn8ts]:before {
        width: 0%;
        -webkit-transition: width .5s ease;
        transition: width .5s ease;
    }

    .nav > ul > li > a:hover[b-b5wscdn8ts]:after {
        width: 0%;
        background: transparent;
        -webkit-transition: width 0s ease;
        transition: width 0s ease;
    }
